@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

font-personal {
  font-family: "Helvetica Now Display DW", sans-serif;
}

.background-animate {
  background-size: 150%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.bg-IDK {
  background-image: url("images/projeto1.png");
  background-size: cover;
  background-position: center;
}

.bg-RM {
  background-image: url("images/projeto2.png");
  background-size: 500px;
  background-position: center;
}

.bg-Post {
  background-image: url("images/projeto3.png");
  background-size: 1000px;
  background-position: -100px;
  background-repeat: no-repeat;
}
